.topBar {
  grid-area: main-view;
  height: 64px;
  min-width: 0;
  pointer-events: none;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: #121212;
}

.buttons {
  display: flex;
}

.buttons button:first-child {
  margin-right: 16px;
}

.buttons button:last-child {
  transform: rotate(180deg);
}
