/* Webfont: ProximaNova-Bold */@font-face {
    font-family: 'ProximaNovaRg';
    src: url('Mark Simonson - Proxima Nova Bold.eot'); /* IE9 Compat Modes */
    src: url('Mark Simonson - Proxima Nova Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mark Simonson - Proxima Nova Bold.woff') format('woff'), /* Modern Browsers */
         url('Mark Simonson - Proxima Nova Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Mark Simonson - Proxima Nova Bold.svg#ProximaNova-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

